* { margin: 0; padding: 0; }
.gallery { max-width: 90%; margin: 30px auto; display: flex; flex-flow: column wrap; max-height: 1000px; }
.gallery img { width: 25%; }
.cardify-figure { background: #333; color: #fff; 
}